#toolbar .pull-right {  margin-left: 10px;  }

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: inherit;
    color: #337ab7;
    border: 0;
    border-bottom: 2px solid #337ab7;
}

.x-pre-img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 35px;
    top: -145px;
}